In [82]:
import pandas as pd

# Title

## sub title

[link](https://www.example.com)


**bold** text.

In [83]:
br_dataframe = pd.read_stata('../../../../SHARE/data/sharew6_rel8-0-0_ALL_datasets_stata/sharew6_rel8-0-0_br.dta')
dn_dataframe = pd.read_stata('../../../../SHARE/data/sharew6_rel8-0-0_ALL_datasets_stata/sharew6_rel8-0-0_dn.dta')
ph_dataframe = pd.read_stata('../../../../SHARE/data/sharew6_rel8-0-0_ALL_datasets_stata/sharew6_rel8-0-0_ph.dta')

In [84]:
merged_dataframe = pd.merge(br_dataframe, dn_dataframe, on = 'mergeid')
merged_dataframe = pd.merge(merged_dataframe, ph_dataframe, on = 'mergeid')

In [85]:
df = merged_dataframe[['dn014_', 'dn042_',
                       'br002_', 'br015_',
                       'ph003_', 'ph084_',
                       'dn003_']]

In [86]:
df = df.rename(columns={
    'dn014_': 'MaritalStatus',
    'dn042_': 'Gender',
    'dn003_': 'YearOfBirth',
    'br002_': 'Smoking',
    'br015_': 'SportFrequency',
    'ph003_': 'HealthSelfPerception',
    'ph084_': 'Pain'
})

In [87]:
values_to_replace = [
    "Don't know", "Refusal", "Implausible value/suspected wrong", 
    "Not codable", "Not answered", "Not yet coded", "Not applicable"
]
df.replace(values_to_replace, float('NaN'), inplace=True)

In [88]:
column_types = {
    'YearOfBirth': 'float',
    'MaritalStatus': 'category',
    'Gender': 'category',
    'Smoking': 'category',
    'SportFrequency': 'category',
    'HealthSelfPerception': 'category',
    'Pain': 'category'
}

df = df.astype(column_types)
df.dtypes

MaritalStatus           category
Gender                  category
Smoking                 category
SportFrequency          category
HealthSelfPerception    category
Pain                    category
YearOfBirth              float64
dtype: object

In [89]:
df['Age'] = 2021 - df['YearOfBirth']
df.drop(['YearOfBirth'], axis=1, inplace=True)

categorical_columns = df.select_dtypes(include=['category']).columns
for col in categorical_columns:
    df[col] = df[col].cat.add_categories('Unknown').fillna('Unknown')

In [91]:
df.MaritalStatus.value_counts()

Unknown                                    52155
Married and living together with spouse    10555
Widowed                                     2893
Divorced                                    1127
Never married                                833
Registered partnership                       326
Married, living separated from spouse        196
Name: MaritalStatus, dtype: int64